.tableSettings {
  overflow-x: auto;
  overflow-y: overlay;
  height: 70vh;
}

table {
  font-family: "Open Sans", sans-serif;
  width: 750px;
  border-collapse: collapse;
  border: 3px solid #44475c;
  position: relative;
}

table th {
  text-align: left;
  background: #44475c;
  color: #fff;
  padding: 8px;
  min-width: 30px;
  position: sticky;
  top: -2px;
}

table td {
  text-align: left;
  padding: 8px;
  border-right: 2px solid #7d82a8;
  cursor: pointer;
}

table td:last-child {
  border-right: none;
}

table tbody tr:nth-child(1n) {
  background: #fff;
}
table tbody tr:nth-child(2n) {
  background: #d4d8f9;
}

table tbody tr:hover {
  background-color: antiquewhite;
  color: #000;
}
